

<ul class="list-unstyled">
										<li><a href="index.html" class="animated">Home <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="portfolio_ireland.html" class="animated">Ireland <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="portfolio_UK.html" class="animated">UK <i class="fa fa-angle-double-right"></i></a></li>
										<!--<li><a href="portfolio_france.html" class="animated">France <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="portfolio_Japan.html" class="animated">Japan <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="portfolio_Mexico.html" class="animated">Mexico <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="portfolio_Tenerife.html" class="animated">Tenerife <i class="fa fa-angle-double-right"></i></a></li>
                                        <li><a href="portfolio_USA.html" class="animated">USA <i class="fa fa-angle-double-right"></i></a></li>
                                        <li><a href="portfolio_Crimea.html" class="animated">Crimea <i class="fa fa-angle-double-right"></i></a></li>
                                        <li><a href="portfolio_Maderia.html" class="animated">Maderia <i class="fa fa-angle-double-right"></i></a></li>
                                        <li><a href="portfolio_Mauritius.html" class="animated">Mauritius <i class="fa fa-angle-double-right"></i></a></li>-->
</ul>
