

<ul class="list-unstyled">
										<li><a href="index.html" class="animated">Home <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="ireland.html" class="animated">Ireland <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="UK.html" class="animated">UK <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="france.html" class="animated">France <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="japan.html" class="animated">Japan <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="mexico.html" class="animated">Mexico <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="tenerife.html" class="animated">Tenerife <i class="fa fa-angle-double-right"></i></a></li>
                                        <li><a href="USA.html" class="animated">USA <i class="fa fa-angle-double-right"></i></a></li>
                                        <li><a href="crimea.html" class="animated">Crimea <i class="fa fa-angle-double-right"></i></a></li>
                                        <li><a href="maderia.html" class="animated">Maderia <i class="fa fa-angle-double-right"></i></a></li>
                                        <li><a href="mauritius.html" class="animated">Mauritius <i class="fa fa-angle-double-right"></i></a></li>
</ul>
