<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/lib/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/lib/bootstrap.min.js"></script>
		<!-- Cycle JS -->
		<!--<script type="text/lib/javascript" src="js/jquery.cycle.all.js"></script>-->
		<!-- jQuery flot -->
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
		<script src="js/lib/jquery.flot.min.js"></script>     
		<script src="js/lib/jquery.flot.resize.min.js"></script>
		<!-- Count To JS  -->
		<script src="js/lib/jquery.countTo.js"></script>
		<!-- Masonry JS -->
		<script src="js/lib/masonry.pkgd.min.js"></script>
		<script src="js/lib/imagesloaded.pkgd.min.js"></script>
		<!-- jQuery way points -->
		<script src="js/lib/waypoints.min.js"></script>
		<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
		<script type="text/javascript" src="js/lib/jquery.themepunch.plugins.min.js"></script>
		<script type="text/javascript" src="js/lib/jquery.themepunch.revolution.min.js"></script>
		<!-- jQuery prettyPhoto & Isotope -->
		<script src="js/lib/jquery.prettyPhoto.js"></script>
		<script src="js/lib/isotope.js"></script>
		<!-- Jquery for Countdown  -->
		<script type="text/javascript" src="js/lib/jquery.countdown.min.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/lib/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/lib/html5shiv.js"></script>
		
        <script src="../js/lib/toastr.min.js"></script>
        
        <!-- KO -->
        <script src="js/lib/knockout-3.1.0.min.js"></script>
        <script src="js/app/index.js"></script>
        
        <!-- Custom JS -->
        <script src="js/app/helpers.js"></script>
		<script src="js/app/startup.js"></script>
        
        
        
		<!-- This Page JavaScript -->
		<script type="text/javascript" >
				
			// initialize Masonry
				//var $container = $('.container').masonry();
			// layout Masonry again after all images have loaded
				//$container.imagesLoaded( function() {
					//$container.masonry();
				//});
			
			// Type your codde here
		</script>
